h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.form-label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
    margin: 0px 50px;
    font-weight: bold;
}

.btn-enviar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}