.saludo h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;

}

.saludo span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cukeimagen .img-fluid {
    display: flex;
    height: auto;
    max-width: 40%;
    margin: 50px auto;
    vertical-align: middle;
    align-items: center;

}