.topnav {
    background-color: #dc3546;
    padding: 10px;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav .barra {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    margin-right: 10px;
    text-decoration: none;
    font-size: 17px;
}

.topnav .direc:hover {
    color: black;
}

.topnav Link.barra {
    background-color: #04AA6D;
    color: white;
}

.topnav .extrem {
    display: block;
    justify-content: end;
    float: right;
}