.navbar .barra {
    background-color: #dc3546 !important;
}

.navbar-text {
    font-weight: bold
}

.navbar a {
    color: white;
}

.imgcuke {
    width: 30px;
    height: 30px;
}

.text {
    font-weight: bold;
}